.information {
    background-color: #45413e;
    color: white;
    text-transform: uppercase;
    padding: 40px 30px;
    padding-left: 60px;
    .right-side {
        display: inline-flex;
        img {
            margin: 30px 0;
        }

        span {
            margin-top: 20px;
            margin-left: 30px;
            font-size: 20px;
            p {
                color: rgba(134, 131, 128, 255);
                text-transform: initial;
                font-size: 15px;
                width: 250px;
                margin-top: 15px;
                
            }
            #medium{
                font-size: 14px;
            }
            #little{
                font-size: 13px;
            }
        }
      
    }
}
